.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: left;
    align-items: center;
}

section button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-left: 27%;
    opacity: 1;
    margin-top: 0px;
}

section button:hover{
    opacity: 0.9;
}

.locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD ;
    text-align: left; 
}

.amenities{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    text-align: left;
}

.filters h3{
    font-weight: 600;
    margin: 0px;
    margin-top: 17px;
    padding: 0;
    margin-left: 30px;
}

.filters h4{
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    width: fit-content;
}


.filters .popover{
    background-color: #FAFAFA;
    margin-top: 6%;
    padding-top: 20px;
    width: 85%;
    padding-bottom: 10%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    visibility: hidden;
    text-align: left;  
}

.popover_list{
    margin: 0;
    padding: 0;
    padding-left: 15px;
}


.filters ul{
    list-style-type: none;
    padding-top:2px;
}


.locations:hover >.popover{
    visibility: visible;
    margin-bottom: 50px;
}

.amenities:hover > .popover{
    visibility: visible;
}